[Desktop Entry]
Name=ROX-Tail
Comment=ROX-Tail display the contents of file
Comment[pl]=ROX-Tail wyświetla zawartość pliku
Exec=/usr/lib/ROX-apps/Tail/AppRun
Icon=rox-Tail
Terminal=false
Type=Application
Categories=Utility;
# vi: encoding=utf-8